body {
  padding: 40px 0px; 
}
.starter-template {
  text-align: center;
  padding: 40px 15px;
}

footer {
  text-align: center;
}

section {
  padding: 20px 0 20px 0;
}
 

h1 {
  font-variant: small-caps;
  font-family: "Open Sans",sans-serif;
  text-align: center;
}

#about {
/*
  background-color: #28292A;
  color: #d0d0cf;
*/
}
#news {
  background-color: #ffffff;
  color: #000000;
}

#schedule1 {
  background-color: #ffffff;
  color: #000000;
}

#schedule1 a {
  color: #c9b0d0;
}

#schedule1 a:hover {
  color: #5c3566;
}

#speakers {
  background-color: #636362;
  color: #ffffff;
}

#speakers A {
  color: #ffffff;
  text-decoration: none;
}

#venue {
  background-color: #9a55ab;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans",sans-serif;
}

#venue a {
  color: #d0d0cf;
}

#partners {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

#partners a {
  padding: 20px;
}

#share_openalt {
  background-color: #636362;
  color: #ffffff;
}

#share_openalt a {
  color: #d77a67;
}

#contact {
  background-color: #ffffff;
  color: #000000;
}

#contact a {
  color: #9a55ab;
}

#contact a:hover {
  color: #5c3566;
}

#schedule2 a {
  color: #9a55ab;
}

#schedule2  a:hover {
  color: #5c3566;
}




.user_avatar {
  width: 100px;
  height: 100px;
}

.user_avatar_div {
  width: 140px;
  height: 160px;
}

.user_avatar:hover {
  width: 110px;
  height: 110px;
}

.speakers_avatar {
  float: left;
  margin: 10px;
  width: 120px;
  height: 120px;
}

.events_avatar {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 20px;
}


.room_color_box {
  width: 14px;
  height: 14px;
  background-color: #00ffff;
  display:inline-block;
  vertical-align: middle;
  border: solid #9d9c9c 1px;
}

.clear {
  clear: both;
}

#partners_footer .partner {
/*  height: 34px; */
  margin: 5px 10px 5px 10px;
  text-align: center;

}

#partners_footer {
  border-top: solid #28292A 1px;
  vertical-align: middle;
  height: 44px; 
  width: 100%;
  background: none repeat scroll 0 0 white;
  bottom: 0;
  position: fixed;
  text-align: center;
}

.medialonek {
  width: 202px;
  height: 202px;
  position: relative; 
  float: left;
  margin: 10px;
}
.medialonek:hover {
  background-color: rgba(120, 120, 120, 0.5);
}

.medialonek_name {
  width: 192px;
  position: absolute;
  bottom: 4px;
 /* background-color: rgba(40,40,40,0.7); */
/*  background-color: rgba(00, 157, 145, 0.5); */
  background-color: rgba(154, 85, 171, 0.8);
  color: #ffffff;
  font-size: 12pt;
  font-family: serif;
  padding: 3px 10px 3px 10px;
/*  text-align: right; */
}
.medialonek_cv {
  position: absolute;
  top: 4px;
  width: 193px;
  height: 193px;
  overflow: none;
  padding: 3px;
  font-size: 9pt;
  z-index: 3;
  display: none ;
}

.medialonek:hover  .medialonek_cv  {
  display: block;
  background-color: rgba(154, 85, 171, 0.8);
  color: #ffffff;
  overflow: hidden
}
.medialonek:hover  .medialonek_name  {
  display: none;
} 


.medialonek_photo {
  width: 100%;
  height: 100%;
}

#gallery {
  background-color: #d0d0cf;
  color: #000000;
}

#gallery img {
  margin: 3px;
}

/* override bootstrap defaults */

.navbar-inverse {
  background-color: #5c3566;
  border: 0;
  border-radius: 0;
}

.navbar-inverse a.navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #cccccc;
}

.navbar-inverse a.navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #9a55ab;
}

/* end of bootstrap override */
