

img { 
  border: 0; 
}

.menu { 
  list-style: none;
}
.menu li { 
     background:url("./images/srdicko.png") no-repeat 0 -3px; 
     padding-left: 45px; /* the width of your image + some space */
     padding-top: 7px;
     padding-bottom: 9px;
     margin: 15px ;
}

.menu2 {
  list-style-type:none;
}

.menu2 li {
  display:inline;
}

.menu2 a {
  float: left;
  width: 6em;
  text-decoration: none;
  color: #ffffff;
  background-color: #800000;
  padding: 0.2em 0.6em 0.2em 0.6em;
  magin: 0;
  border-right: 1px solid #ffffff;
}
.menu2 a:hover {
  background-color: #600000;
}

body {
/*  background-color: #cccccc; */
}

.innerContent { 

  background-color: #ffffff;
  margin:0 auto; 
  padding: 5px;
/*  padding: 20px;
  width:750px;  */
}


    /* jQuery lightBox plugin - Gallery style */
    #gallery ul { list-style: none; padding: 0 0px 0 10px; }
    #gallery ul li { display: inline; }
    #gallery ul img {
    border: 0px solid #eeeeee;
    border-width: 0;
    }
